* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: "montserrat", Helvetica, sans-serif;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 20px;
    background: hsl(0, 0%, 100%);
    padding-right: 20px;
    border-radius: 15px;
}

main img {
    border-radius: 15px;
    display: block;
    width: 300px;
    max-width: 300px;
    border-radius: 15px 0 0 15px;
}

#text-content p:first-child {
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 7%;
}

#text-content h1 {
    font-family: "Fraunces", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.7rem;
    margin-bottom: 5%;
}

#text-content p {
    font-family: "montserrat", Helvetica, sans-serif;
    color: hsl(158, 36%, 37%);
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 4%;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 4%;
}

.price-container h2 {
    font-family: "Fraunces", Helvetica, sans-serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

.price-container h4 {
    font-family: "montserrat", Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    color: hsl(158, 36%, 37%);
}

#text-content button {
    width: 100%;
    display: block;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: "montserrat", Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;

}

span {
    position: relative;
    top: 5px;
    right: 10px;
}

@media (max-width: 400px) {
    body{
        padding: 20px;
    }

    main{
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
}